<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSASSINO | <%= stanza %></title>
    <link rel="stylesheet" href="/style_admin.css">
</head>
<body>
    <div class="tutto">
        <div class="titolo">
            <h1 id="titolo">STANZA: <%= stanza %></h1>
        </div>
        <div class="descrizione">
            <p id="descrizione">
                Clicca sul bottone per assegnare i ruoli a tutti i giocatori compreso te
            </p>
        </div>
        <div class="centro">
            
                
            <div class="containerCard">
                <div class="bordo"></div>
                <div class="card">
                    <div class="sopra">
                        <div class="tendina"></div>
                        <div class="personaggio">
                            <img src="../img/assassino.png" class="faccia">
                            <img src="../img/facciaNormale.png" class="faccia normale">
                            <img src="../img/busto.png" class="busto">
                        </div>
                    </div>
                    
                    <div class="sotto">
                        <h1 class="ruolo">Assassino</h1>
                        <p class="compito">Uccidi gli altri giocatori</p>
                    </div>
                </div>
                <div class="bordo"></div>
            </div>
            
            
            <!-- <div class="checkbox">
                <input type="checkbox" id="complice">
                <p>Aggiungi il complice</p>
            </div> -->
            <div class="bottoni">

                <button class="btn" onclick="dis()">Distrubuisci</button>
                <button onclick="nascondi()" id="btn_nascondi" class="btn">Nascondi il ruolo</button>
            </div>
        </div>

        

    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const ruolo_testo = document.querySelector('.ruolo')
        const compito = document.querySelector('.compito')
        const sopra = document.querySelector('.sopra')
        var backupRuolo = ''
        var backupCompito = ''
        const faccia = document.querySelector('.faccia')
        const stanza = '<%= stanza %>'
        const socket = io()
        socket.emit('crea', stanza)
        socket.on('conn', msg=>{
            console.log(msg)
            
        })
        //colora la scritta del ruolo
        socket.on('ruolo', (ruolo, compitoo, facciaa, colore)=>{
            var index = 0
            var ao = setInterval(()=>{
                ruolo_testo.innerHTML = ruolo.slice(0, index)
                index++

                if(index > ruolo.length ){
                    clearInterval(ao)
                }

            }, 100)
            
            backupRuolo = ruolo
            backupCompito = compitoo
            sopra.style.background = colore
            compito.innerHTML = compitoo
            faccia.src = `../img/${facciaa}`

        })
        
        function dis(){
            // var complice = document.getElementById('complice').checked
            var complice = false
            
            socket.emit('dist', {"stanza":stanza,"complice": complice})
            
        }
        //nascondi il ruolo
        var nascosto = false
        var temp
        const btn = document.getElementById('btn_nascondi')
        const facciaNormale = document.querySelector('.normale')
        const tendina = document.querySelector('.tendina')
        function nascondi(){
            if(nascosto){
                compito.innerHTML = backupCompito
                ruolo_testo.innerHTML = backupRuolo
                facciaNormale.classList.remove('nascosto')
                faccia.classList.remove('nascosto')
                tendina.classList.remove('nascosto')
                nascosto = false
                btn.innerHTML = 'Nascondi il ruolo'
            }else{
                faccia.classList.add('nascosto')
                facciaNormale.classList.add('nascosto')
                tendina.classList.add('nascosto')
                compito.innerHTML = 'Compito nascosto'
                ruolo_testo.innerHTML = 'Ruolo nascosto'
                nascosto = true
                btn.innerHTML = 'Mostra il ruolo'
            }
        }
        

        

        
        
    </script>
</body>
</html>